<!DOCTYPE html>
<html class="h-full">
<head>
    <title>Snowpack Data</title>
    <!-- Bootstrap Files from CDN -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Snowpack Data is an analytics consulting company based in California" />
    <meta name="author" content="Snowpack Data LLC" />
    <title>Snowpack Data</title>
    <!-- Favicon-->
    <link rel="shortcut icon" type="icon" href="branding/favicon/favicon.ico">

    <!-- Tailwind CSS -->
    <link href="/assets/css/outputs.css?v={{ . }}" rel="stylesheet" />

    <!--  Montserrat font from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TRLQYPPXKE"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TRLQYPPXKE');
    </script>
</head>
<body class="h-full">
<main class="relative isolate min-h-full">
  <img src="/assets/img/road.jpg" alt="Bloody couloir from Mammoth" class="absolute inset-0 -z-10 size-full object-cover object-top brightness-75">
  <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
    <div class="mx-auto max-w-2xl px-12 py-12 text-center bg-gray-100 bg-opacity-50 shadow sm:rounded-lg sm:py-12 lg:px-10">
      <p class="text-base/8 font-semibold text-black">404</p>
      <h1 class="mt-4 text-balance text-5xl font-semibold tracking-tight text-black sm:text-7xl">Page not found</h1>
      <p class="mt-6 text-pretty text-lg font-medium text-black sm:text-xl/8">You've strayed off course, let's help you get back to the trail.</p>
      <div class="mt-10 flex justify-center">
        <a href="/" class="text-sm/7 font-semibold text-black"><span aria-hidden="true">&larr;</span> Back to home</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>
