<!DOCTYPE html>
<html>
<head>
  <title>Snowpack Data</title>
  <!-- Bootstrap Files from CDN -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Snowpack Data is an analytics consulting company based in California" />
  <meta name="author" content="Snowpack Data LLC" />
  <title>Snowpack Data</title>
  <!-- Favicon-->
  <link rel="shortcut icon" type="icon" href="/branding/favicon/favicon.ico">

  <!-- Tailwind CSS -->
  <link href="/assets/css/outputs.css" rel="stylesheet" />

  <!--  Montserrat font from Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TRLQYPPXKE"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TRLQYPPXKE');
  </script>
</head>
<body>
<!--TOP NAVBAR AND HAMBURGER MENU-->

<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8 bg-white shadow" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Snowpack Data</span>
          <img class="h-8 w-auto" src="/branding/logo/logo-text-header-med-lightbg.png" alt="Snowpack Data">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button id="openMenu" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-dark">
          <span class="sr-only">Open main menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/services" class="text-sm/6 font-semibold text-gray-dark hover:text-yellow">Services</a>
        <a href="/blog" class="text-sm/6 font-semibold text-gray-dark hover:text-yellow">Blog</a>
        <a href="/articles/case-study" class="text-sm/6 font-semibold text-gray-dark hover:text-yellow">Case Studies</a>
        <a href="/free-assessment" class="text-sm/6 font-semibold text-gray-dark hover:text-yellow">Free Consultation</a>
        <a href="/contact" class="text-sm/6 font-semibold text-gray-dark hover:text-yellow">Contact</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a id="login" href="#" class="text-sm/6 font-semibold text-gray-dark hover:text-yellow">Log In <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div id="menu" class="hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Snowpack Data</span>
            <img class="h-8 w-auto" src="/branding/logo/logo-large-light.svg" alt="">
          </a>
          <span class="text-gray-dark font-bold">Snowpack Data</span>
          <button id="closeMenu" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-dark">
            <span class="sr-only">Close menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/25">
            <div class="space-y-2 py-6">
              <a href="/services" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Services</a>
              <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Blog</a>
              <a href="/articles/case-study" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Case Studies</a>
              <a href="/free-assessment" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Free Consultation</a>
              <a href="/contact" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Contact Us</a>
            </div>
            <div class="py-6">
              <a href="/login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="bg-blue-dark-blue py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl lg:mx-0">
      <p class="text-base/7 font-semibold text-gray-gray-light">Who are we?</p>
      <h2 class="mt-2 text-5xl font-semibold tracking-tight text-gray-gray-light sm:text-7xl">Data Professionals</h2>
      <p class="mt-8 text-pretty text-lg font-medium text-gray-gray-light sm:text-xl/8">We’re a global team of data professionals with experience in data science, data engineering, business analytics, and product analytics. From deploying production-ready predictive models to slicing infrastructure costs, our team has honed our skills across diverse roles and projects. Our mission is to provide customized high-quality work for our clients that accelerates data maturity and empowers decision-making.</p>
    </div>
  </div>
</div>

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 lg:flex lg:justify-between">
    <div class="mx-8 max-w-2xl lg:mx-0">
      <p class="text-base/7 font-semibold text-black">Why Snowpack?</p>
      <h2 class="mt-2 text-2xl font-semibold tracking-tight text-black sm:text-7xl">Data in Layers</h2>
      <p class="mt-8 text-pretty font-medium text-black sm:text-xl/6">We believe the strongest data stacks are supported by well-defined layers of data ingestion, processing, and reporting that establish trust throughout the organization. Our name <em>Snowpack Data</em> was derived from the process of avalanche forecasters in assessing the stability of snow. We bring this process to our customers, ensuring that each layer supports the next, and that weak layers don't bring the whole stack down.</p>

      <p class="mt-8 text-pretty font-medium text-black sm:text-xl/6">
        We offer an efficient option for companies looking to jump-start their analytics organization or provide key support to existing teams. We are able to independently deliver on key projects and provide a roadmap for future work that your team can build on.</p>
    </div>
    <div class="mt-10 w-full max-w-xs">
      <img src="/assets/img/layers.png" alt="Product screenshot" class="">
    </div>
  </div>
</div>

<!--PRODUCT OFFERING SECTION-->
<div class="bg-whitesmoke py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p id="offerings" class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance">Our Expertise</p>
      <p class="mt-6 text-lg/8 text-gray-600">We specialize in full stack data analytics from data engineering and data science, to analytics and reporting. Our varied experience allows us to support both key roles and broad projects.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
            <svg class="size-8 flex-none text-gray-dark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
            </svg>
           Data Engineering & Platform
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
            <p class="flex-auto">We design and build cost-effective data architecture that provides a foundation for core analytics and predictive data science. Our team is experienced with a wide variety of data ingestors, cloud warehouses, and orchestration platforms.</p>
            <p class="mt-6">
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 flex-none text-gray-dark">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
          </svg>
            Data Science, ML & AI
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-900">
            <p class="flex-auto">We build and deploy production-ready predictive models to support both internal needs, and external products. Whether your business needs to improve churn prediction, revenue forecasting, or develop custom ML models, we have the expertise to bring these models to fruition.</p>
            <p class="mt-6">
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor"  class="size-8 flex-none text-gray-dark">
              <path strokeLinecap="round" strokeLinejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>
            Business Intelligence & Analytics
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-900">
            <p class="flex-auto">Designing and building scalable analytics is a challenge in today's fragmented data world. Our team is experienced in delivering trusted analytics to executive stakeholders and creating bespoke reporting that empowers operational teams.</p>
            <p class="mt-6">
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<div class="bg-white py-24 md:py-32">
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-20 px-6 lg:px-8 xl:grid-cols-5">
    <div class="max-w-2xl xl:col-span-2">
      <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Meet our team</h2>
      <p class="mt-6 text-lg/8 text-gray-600">Our team's range of analytical experience allow us to offer a breadth of knowledge and targeted expertise that can be tapped into for challenging projects and analytical recommendations.</p>
    </div>
    <ul role="list" class="-mt-12 space-y-12 divide-y divide-gray-200 xl:col-span-3">
      <li class="flex flex-col gap-10 pt-12 sm:flex-row">
        <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="/assets/img/nate-profile.jpeg" alt="Nate">
        <div class="max-w-xl flex-auto">
          <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">Nate Robinson</h3>
          <p class="text-base/7 text-gray-600 italic">Managing Partner</p>
          <span class="inline-flex items-center rounded-full bg-blue px-2 py-1 text-xs font-medium text-gray-gray-light">Data Engineering</span>
          <span class="inline-flex items-center rounded-full bg-green px-2 py-1 text-xs font-medium text-gray-gray-light">Data Science</span>
          <span class="inline-flex items-center rounded-full bg-yellow px-2 py-1 text-xs font-medium text-gray-gray-dark">Machine Learning</span>
          <p class="mt-6 text-base/7 text-gray-600">A co-founder of Snowpack Data, Nate thrives in technical challenges by bridging data science with application development. A lifelong entrepreneur, he takes pride in constantly applying new learnings to the next challenge.</p>
          <ul role="list" class="mt-6 flex gap-x-6">
            <li>
              <a href="https://github.com/nathanaelrobinson" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">Github</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://github.com/nathanaelrobinson" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="flex flex-col gap-10 pt-12 sm:flex-row">
        <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="/assets/img/kevin-profile.jpeg" alt="Kevin Koenitzer">
        <div class="max-w-xl flex-auto">
          <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">Kevin Koenitzer</h3>
          <p class="text-base/7 text-gray-600 italic">Managing Partner</p>
          <span class="inline-flex items-center rounded-full bg-green-light-green px-2 py-1 text-xs font-medium text-gray-gray-dark">Product Analytics</span>
          <span class="inline-flex items-center rounded-full bg-teal px-2 py-1 text-xs font-medium text-gray-gray-light">GTM Analytics</span>
          <span class="inline-flex items-center rounded-full bg-pink px-2 py-1 text-xs font-medium text-gray-gray-light">Management</span>
          <p class="mt-6 text-base/7 text-gray-600">A co-founder of Snowpack Data, Kevin has built ML applications, databases, and led analytics teams across industries. He excels at co-creating data strategies with his clients, providing product vision and clear direction.</p>
          <ul role="list" class="mt-6 flex gap-x-6">
            <li>
              <a href="https://github.com/snowpack-kevin" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">Github</span>
             <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/kevin-koenitzer-b00013a8/" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="flex flex-col gap-10 pt-12 sm:flex-row">
        <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="/assets/img/danny-profile.jpeg" alt="Danny Blumenthal">
        <div class="max-w-xl flex-auto">
          <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">Danny Blumenthal</h3>
          <p class="text-base/7 text-gray-600 italic">Partner</p>
          <span class="inline-flex items-center rounded-full bg-blue px-2 py-1 text-xs font-medium text-gray-gray-light">Data Engineering</span>
          <span class="inline-flex items-center rounded-full bg-gray-gray-dark px-2 py-1 text-xs font-medium text-gray-gray-light">Analytics Engineering</span>
          <span class="inline-flex items-center rounded-full bg-teal px-2 py-1 text-xs font-medium text-gray-gray-light">GTM Analytics</span>
          <p class="mt-6 text-base/7 text-gray-600">Danny joined Snowpack as a partner in early 2024. He has a wealth of experience building ETL pipelines, foundational data models, executive dashboards, and custom data solutions.</p>
          <ul role="list" class="mt-6 flex gap-x-6">
            <li>
              <a href="https://github.com/dpblume" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">Github</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/dpblumenthal/" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="flex flex-col gap-10 pt-12 sm:flex-row">
        <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="/assets/img/olodort-profile.jpg" alt="David Olodort">
        <div class="max-w-xl flex-auto">
          <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">David Olodort</h3>
          <p class="text-base/7 text-gray-600 italic">Partner</p>
          <span class="inline-flex items-center rounded-full bg-gray-gray-dark px-2 py-1 text-xs font-medium text-gray-gray-light">Analytics Engineering</span>
          <span class="inline-flex items-center rounded-full bg-teal px-2 py-1 text-xs font-medium text-gray-gray-light">GTM Analytics</span>
          <span class="inline-flex items-center rounded-full bg-pink px-2 py-1 text-xs font-medium text-gray-gray-light">Management</span>
          <p class="mt-6 text-base/7 text-gray-600">David joined Snowpack in late 2024 to grow Snowpack's European offerings. He has years of experience running global analytics and data engineering organizations, turning empathetic leadership into coordinated team outcomes.</p>
          <ul role="list" class="mt-6 flex gap-x-6">
            <li>
              <a href="https://github.com/dolodort" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">Github</span>
                  <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/dolodort/" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="flex flex-col gap-10 pt-12 sm:flex-row">
        <img class="aspect-[4/5] w-52 flex-none rounded-2xl object-cover" src="/assets/img/shore-profile.jpeg" alt="David Shore">
        <div class="max-w-xl flex-auto">
          <h3 class="text-lg/8 font-semibold tracking-tight text-gray-900">David Shore</h3>
          <p class="text-base/7 text-gray-600 italic">Data Engineer</p>
          <span class="inline-flex items-center rounded-full bg-blue px-2 py-1 text-xs font-medium text-gray-gray-light">Data Engineering</span>
          <span class="inline-flex items-center rounded-full bg-green px-2 py-1 text-xs font-medium text-gray-gray-light">Data Science</span>
          <span class="inline-flex items-center rounded-full bg-red-error-light px-2 py-1 text-xs font-medium text-red">Financial Analytics</span>
          <p class="mt-6 text-base/7 text-gray-600">David is a technical analytics guru. His expertise lies in financial analytics where he shines in consolidating disparate financial systems and architecting the platforms that support them.</p>
          <ul role="list" class="mt-6 flex gap-x-6">
            <li>
              <a href="https://github.com/drshore" class="text-gray-800 hover:text-gray-500">
                <span class="sr-only">Github</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/davidrshore/" class="text-gray-800 hover:text-gray-800">
                <span class="sr-only">LinkedIn</span>
                <svg class="size-6" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.338 16.338H13.67V12.16c0-.995-.017-2.277-1.387-2.277-1.39 0-1.601 1.086-1.601 2.207v4.248H8.014v-8.59h2.559v1.174h.037c.356-.675 1.227-1.387 2.526-1.387 2.703 0 3.203 1.778 3.203 4.092v4.711zM5.005 6.575a1.548 1.548 0 11-.003-3.096 1.548 1.548 0 01.003 3.096zm-1.337 9.763H6.34v-8.59H3.667v8.59zM17.668 1H2.328C1.595 1 1 1.581 1 2.298v15.403C1 18.418 1.595 19 2.328 19h15.34c.734 0 1.332-.582 1.332-1.299V2.298C19 1.581 18.402 1 17.668 1z" clip-rule="evenodd" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</div>
</body>
<!--FOOTER WITH LINKS-->
<footer class="bg-blue-dark-blue">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6" aria-label="Footer">
      <a href="/about" class="text-white hover:text-white">About Us</a>
      <a href="/services" class="text-white hover:text-white">Services</a>
      <a href="/blog" class="text-white hover:text-white">Blog</a>
      <a href="/articles/case-study" class="text-white hover:text-white">Case Studies</a>
      <a href="/free-assessment" class="text-white hover:text-white">Free Consultation</a>
      <a href="/contact" class="text-white hover:text-white">Contact</a>

    </nav>
    <div class="mt-16 flex justify-center gap-x-10">
      <a href="https://www.linkedin.com/company/snowpack-data/" class="text-white hover:text-gray-300">
        <span class="sr-only">LinkedIn</span>
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
      </a>
      <a href="https://github.com/snowpackdata" class="text-white hover:text-gray-300">
        <span class="sr-only">GitHub</span>
        <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    <p class="mt-10 text-center text-sm/6 text-white">&copy; 2024 Snowpack Data LLC. All rights reserved.</p>
  </div>
</footer>

</html>
<script src="/assets/js/index.js"></script>
