<!DOCTYPE html>
<html>
<head>
<title>Snowpack Data</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Snowpack Data is an analytics consulting company based in California" />
<meta name="author" content="Snowpack Data LLC" />
<title>Snowpack Data</title>
<!-- Favicon-->
<link rel="shortcut icon" type="icon" href="/branding/favicon/favicon.ico">



<!--  Montserrat font from Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRLQYPPXKE"></script>
<!-- Tailwind CSS -->
<link href="/assets/css/outputs.css" rel="stylesheet" />
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TRLQYPPXKE');
</script>
</head>
<body>
    <header class="absolute inset-x-0 top-0 z-50">
        <nav class="flex items-center justify-between p-6 lg:px-8 bg-blue-dark-blue shadow" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="/" class="-m-1.5 p-1.5">
                    <span class="sr-only">Snowpack Data</span>
                    <img class="h-8 w-auto" src="/branding/logo/logo-text-header-med.png" alt="Snowpack Data">
                </a>
            </div>
            <div class="flex lg:hidden">
                <button id="openMenu" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-gray-light">
                    <span class="sr-only">Open main menu</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="/about" class="text-sm/6 font-semibold text-white">About Us</a>
                <a href="/services" class="text-sm/6 font-semibold text-white">Services</a>
                <a href="/articles/case-study" class="text-sm/6 font-semibold text-gray-gray-light hover:text-yellow">Case Studies</a>
                <a href="/free-assessment" class="text-sm/6 font-semibold text-gray-gray-light hover:text-yellow">Free Consultation</a>
                <a href="/contact" class="text-sm/6 font-semibold text-gray-gray-light hover:text-yellow">Contact</a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                <a id="login" href="#" class="text-sm/6 font-semibold text-gray-gray-light hover:text-yellow">Log In <span aria-hidden="true">&rarr;</span></a>
            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div id="menu" class="hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-50"></div>
            <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Snowpack Data</span>
                        <img class="h-8 w-auto" src="/branding/logo/logo-large-light.svg" alt="">
                    </a>
                    <span class="text-gray-dark font-bold">Snowpack Data</span>
                    <button id="closeMenu" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-dark">
                        <span class="sr-only">Close menu</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/25">
                        <div class="space-y-2 py-6">
                            <a href="/services" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Services</a>
                            <a href="/blog" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Blog</a>
                            <a href="/articles/case-study" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Case Studies</a>
                            <a href="/free-assessment" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Free Consultation</a>
                            <a href="/contact" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Contact</a>
                        </div>
                        <div class="py-6">
                            <a href="/login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-dark sm:text-5xl">Check out our Blog</h2>
          <p class="mt-2 text-lg/8 text-gray-dark">Check out our case-studies, product deep dives, and write-ups on our existing work</p>
        </div>
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {{ range . }}
          <article class="flex flex-col items-start justify-between border-b-gray-light">
            <div class="relative w-full">
              <img src="/assets/img/{{ .Splash }}" alt="{{ .Splash }}" class="aspect-video w-full rounded-2xl bg-gray-light object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-dark"></div>
            </div>
            <div class="max-w-xl align-baseline">
              <div class="mt-8 flex items-center gap-x-4 text-xs">
                <time class="text-gray-dark">{{ .Date }}</time>
              </div>
              <div class="group relative">
                <h3 class="mt-3 text-lg/6 font-semibold text-gray-dark hover:text-yellow">
                  <a href="/blog/{{ .Slug }}">
                    <span class="absolute inset-0"></span>
                    {{ .Title }}
                  </a>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ .Subtitle }}</p>
              </div>
              <div class="relative mt-8 flex items-center gap-x-4">
                <img src="/assets/img/{{ .AuthorImage }}" alt="{{ .AuthorImage }}" class="size-10 rounded-full bg-gray-100">
                <div class="text-sm/6">
                  <p class="font-semibold text-gray-dark">
                      <span class="absolute inset-0"></span>
                    {{ .Author }}
                  </p>
                </div>
              </div>
            </div>
          </article>
        {{ end }}
        </div>
      </div>
    </div>
    <footer class="bg-blue-dark-blue">
        <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
            <nav class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6" aria-label="Footer">
                <a href="/about" class="text-white hover:text-white">About Us</a>
                <a href="/services" class="text-white hover:text-white">Services</a>
                <a href="/blog" class="text-white hover:text-white">Blog</a>
                <a href="/articles/case-study" class="text-white hover:text-white">Case Studies</a>
                <a href="/free-assessment" class="text-white hover:text-white">Free Consultation</a>
                <a href="/contact" class="text-white hover:text-white">Contact</a>

            </nav>
            <div class="mt-16 flex justify-center gap-x-10">
                <a href="https://www.linkedin.com/company/snowpack-data/" class="text-white hover:text-gray-300">
                    <span class="sr-only">LinkedIn</span>
                    <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                </a>
                <a href="https://github.com/snowpackdata" class="text-white hover:text-gray-300">
                    <span class="sr-only">GitHub</span>
                    <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
            <p class="mt-10 text-center text-sm/6 text-white">&copy; 2024 Snowpack Data LLC. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

<script src="/assets/js/index.js"></script>
