<!DOCTYPE html>
<html>
<head>
<title>Snowpack Data</title>
<!-- Bootstrap Files from CDN -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Snowpack Data is an analytics consulting company based in California" />
<meta name="author" content="Snowpack Data LLC" />
<title>Snowpack Data</title>
<!-- Favicon-->
<link rel="shortcut icon" type="icon" href="branding/favicon/favicon.ico">

<!-- Tailwind CSS -->
<link href="/assets/css/outputs.css" rel="stylesheet" />

<!--  Montserrat font from Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TRLQYPPXKE"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TRLQYPPXKE');
</script>
<style>
</style>
</head>
<body>

<!--TOP NAVBAR AND HAMBURGER MENU-->
<div class="bg-gray-900">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Snowpack Data</span>
          <img class="h-8 w-auto" src="/branding/logo/logo-text-header.svg" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button id="openMenu" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white">
          <span class="sr-only">Open main menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/about" class="text-sm/6 font-semibold text-white">About Us</a>
        <a href="/services" class="text-sm/6 font-semibold text-white">Services</a>
        <a href="/articles/case-study" class="text-sm/6 font-semibold text-white">Case Studies</a>
        <a href="/free-assessment" class="text-sm/6 font-semibold text-white">Free Consultation</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a id="login" href="#" class="text-sm/6 font-semibold text-white">Log In <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div id="menu" class="hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Snowpack Data</span>
            <img class="h-8 w-auto" src="/branding/logo/logo-large-light.svg" alt="">
          </a>
          <span class="text-gray-dark font-bold">Snowpack Data</span>
          <button id="closeMenu" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-dark">
            <span class="sr-only">Close menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/25">
            <div class="space-y-2 py-6">
              <a href="/about" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">About Us</a>
              <a href="/services" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Services</a>
              <a href="/articles/case-study" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Case Studies</a>
              <a href="/free-assessment" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Free Consultation</a>
            </div>
            <div class="py-6">
              <a href="/login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-dark hover:bg-gray-800">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<!--  HERO IMAGE AND SUPERIMPOSED TEXT-->
  <div class="relative isolate overflow-hidden pt-14">
    <img src=/assets/img/mountain_splash.JPG alt="" class="absolute inset-0 -z-10 size-full object-cover brightness-50 bg-gradient-to-b from-blue to-gray-dark">
    <div class="mx-auto max-w-10xl px-10 lg:px-10">
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
          <h1 class="text-balance text-5xl font-semibold tracking-tight text-white sm:text-7xl">Snowpack Data</h1>
          <p class="mt-8 text-pretty text-lg font-medium text-white sm:text-xl/8">Snowpack Data provides data and analytics engineering consulting to help our clients implement scalable infrastructure, tooling, and processes to manage their analytics at scale</p>
          <div class="mt-4 flex items-center justify-center gap-x-6">
            <a href="/about" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">About us</a>
            <a href="#offerings" class="text-sm/6 font-semibold text-white">Learn more <span aria-hidden="true">→</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-b from-0% to-90%  sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
</div>

<!--PRODUCT OFFERING SECTION-->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p id="offerings" class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance">What we offer</p>
      <p class="mt-6 text-lg/8 text-gray-600">Snowpack specializes in building a strong foundation for a cutting edge analytics org. Our specialities in data science, data engineering, and product analytics offer solutions to a wide range of analytical problems.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
            <svg class="size-8 flex-none text-gray-dark" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
            </svg>
           Data Analytics and Engineering
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
            <p class="flex-auto">Robust pipelines for ingesting and transforming your raw data to manage your analytics at scale</p>
            <p class="mt-6">
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 flex-none text-gray-dark">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
          </svg>
           Data Strategy & Architecture
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-900">
            <p class="flex-auto">Implementation of scalable modern data infrastructure tailored to your organization's needs and budget</p>
            <p class="mt-6">
            </p>
          </dd>
        </div>
        <div class="flex flex-col">
          <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor"  class="size-8 flex-none text-gray-dark">
              <path strokeLinecap="round" strokeLinejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>
            Analytics & Reporting
          </dt>
          <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-900">
            <p class="flex-auto">Source-of-truth metrics and actionable insights to drive strategic decision-making across your organization</p>
            <p class="mt-6">
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>

<!--FREE CONSULTATION SECTION-->
<div class="bg-blue">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-balance text-4xl font-semibold tracking-tight text-white sm:text-5xl">Free Consultation</h2>
      <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-white">Take our 5-minute data maturity questionnaire and we'll follow up with a custom-built consultation to inform your analytics roadmap. This puts you first in line for a a free 1:1 consultation with our Data experts to discover ways to improve trust in your metrics, improve analyst efficiency and reduce infrastructure costs.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/free-assessment" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-indigo-600 shadow-sm hover:bg-indigo-50 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Start Consultation</a>
      </div>
    </div>
  </div>
</div>

<!--BLOG SECTION-->
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Recent Blog Posts</h2>
      <p class="mt-2 text-lg/8 text-gray-600">Check out recent case studies and analytical deep dives from our Blog</p>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ range .}}
      <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img src="/assets/img/{{ .Splash }}" alt="" class="aspect-video w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
          <div class="absolute inset-0 rounded-2xl"></div>
        </div>
        <div class="max-w-xl">
          <div class="mt-8 flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500">{{ .Date }}</time>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <a href="/blog/{{ .Slug }}">
                <span class="absolute inset-0"></span>
                {{ .Title }}
              </a>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ .Subtitle }}</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4 outline-gray-dark outline-2">
            <img src="/assets/img/{{ .AuthorImage }}" alt="" class="size-10 rounded-full bg-gray-100" style="outline:1px #1a1e21 solid">
            <div class="text-sm/6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                 {{ .Author }}
                </a>
              </p>
            </div>
          </div>
        </div>
      </article>
      {{ end }}
      <!-- More posts... -->
    </div>
  </div>
</div>

<!--FOOTER WITH LINKS-->
<footer class="bg-blue">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
    <nav class="-mb-6 flex flex-wrap justify-center gap-x-12 gap-y-3 text-sm/6" aria-label="Footer">
      <a href="/about" class="text-white hover:text-white">About</a>
      <a href="/about" class="text-white hover:text-white">Services</a>
      <a href="/blog" class="text-white hover:text-white">Blog</a>
      <a href="/articles/case-studies" class="text-white hover:text-white">Case Studies</a>
      <a href="/free-assessment" class="text-white hover:text-white">Free Consultation</a>
    </nav>
    <div class="mt-16 flex justify-center gap-x-10">
      <a href="https://www.linkedin.com/company/snowpack-data/" class="text-white hover:text-gray-300">
        <span class="sr-only">LinkedIn</span>
        <svg class="size-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
      </a>
      <a href="https://github.com/snowpackdata" class="text-white hover:text-gray-300">
        <span class="sr-only">GitHub</span>
        <svg class="size-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
    <p class="mt-10 text-center text-sm/6 text-white">&copy; 2024 Snowpack Data LLC. All rights reserved.</p>
  </div>
</footer>


</body>
</html>
<!--Add Javascript-->
<script src="/assets/js/index.js"></script>
